body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
:root {
  --navyblue: #2e2f42;
  --white: #fff;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --slate: #434455;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
}
.address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo-accent {
  color: var(--navyblue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

link .logo-link {
  text-decoration: none;
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.nav .list {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.address .list {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.list {
  list-style: none;
  display: flex;
}

.nav-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

link .nav-link {
  list-style: none;
  margin-right: 332px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--ocean);
}

.contact-link {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}
.cuttent {
  color: var(--ocean);
}

.section-one {
  background-color: var(--navyblue);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
}

.section-one-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

.button {
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--ocean);
  border: 1px solid transparent;
}

.section-two {
  padding: 120px 0;
}

.section-two .list {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}
.list .list-item {
  width: 264px;
  margin: 0 auto;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: var(--cloud);
  height: 112px;
  margin-bottom: 8px;
  justify-content: center;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.list-title {
  margin-bottom: 8px;
}

.section-three {
  padding-bottom: 120px;
}

.section-three-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}
.section-three .list {
  display: flex;
  margin: 0 auto;
  gap: 24px;
}

.image-list-item {
  width: calc((100% - 48px) / 3);
}

.section-four {
  background-color: var(--cloud);
  padding: 120px 0;
}

.section-four .list {
  display: flex;
  gap: 24px;
}
.section-four-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.hero-list-item .hero-name {
  display: block;
  gap: 32px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover,
.social-links:focus {
  background-color: var(--ocean);
}

.social-icon {
  fill: var(--cloud);
}

.hero-list-item .list-text {
  text-align: center;
  margin-bottom: 8px;
}

.hero-description {
  padding: 32px 0;
}

.section-five {
  padding: 120px 0;
}
.section-five-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-five-list {
  display: flex;
  gap: 24px;
}
.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icon {
  fill: currentColor;
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-button {
  color: var(--iris);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-button:active {
  background-color: var(--ocean);
  color: var(--white);
}

.list-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero-list-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.hero-name {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

ul {
  list-style-type: none;
}
.image-list {
  list-style: none;
}

.customer-icon:hover,
.customer-icon:focus,
.customer-list-item:hover,
.customer-list-item:focus {
  border-color: var(--ocean);
  fill: var(--ocean);
}

.portfolio-list {
  list-style: none;
}
.portfolio-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-link:hover .overlay {
  transform: translateX(0);
}
.portfolio-link:hover p,
.portfolio-link:focus p {
  transform: translateY(0%);
}
.portfolio-list-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-list-item-text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-container {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  top: 0;
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-container:hover .overlay-text {
  transform: translateY(0%);
}
.overlay-container:focus .overlay-text {
  transform: translateY(0%);
}

.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer .logo-link {
  display: inline-block;
  margin: 0px 0px 16px 0px;
}

.footer .logo-accent {
  color: var(--cloud);
  padding: 0;
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.social-media-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  gap: 16px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}
.with-logo-container {
  margin-right: 120px;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links:hover,
.footer-social-links:focus {
  background-color: var(--green);
}

.subscribe-form-container {
  margin-left: 80px;
}

.subscribe-text {
  margin-bottom: 16px;
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  }

.subscribe-label {
  display: flex;
  flex-direction: column;
}
.subscribe-input {
  background-color: transparent;
  color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 264px;
  height: 40px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
input::placeholder {
  color: #ffff;
}

.subscribe-btn {
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
}

.telegram-icon {
  fill: white;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form {
  display: flex;
  flex-direction: column;
}

.callback-form-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.callback-form-container {
  margin-bottom: 8px;
}

.callback-label {
  display: block;
  margin-bottom: 4px;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.input-icon-container {
  position: relative;
}

.callback-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback-input:focus {
  border-color: #4d5ae5;
}

.callback-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--navyblue);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-input:focus + .callback-icon{
  fill: #4d5ae5;
}

.callback-icon:focus {
  fill: var(--iris);
}
.comment {
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}

.checkbox-item {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox-input:checked + .privacy-label>.checkbox-item {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.send-button {
  min-width: 169px;
  height: 56px;
  display: block;
  border-radius: 4px;
  background-color: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.send-button:hover,
.send-button:focus {
  background-color: var(--ocean);
  border: 1px solid transparent;
}

.privacy-policy-link {
  color: var(--iris);
}
