/* 
.list {
  list-style: none;
  display: flex;
}
 
link .nav-link {
  list-style: none;
  margin-right: 332px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--ocean);
}

.contact-link {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cuttent {
  color: var(--ocean);
}
.menu-icon {
  stroke: var(--navyblue);
  stroke-width: 3px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
}

  

.list .list-item {
  width: 264px;
  margin: 0 auto;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: var(--cloud);
  height: 112px;
  margin-bottom: 8px;
  justify-content: center;
}



.image-list-item {
  width: calc((100% - 48px) / 3);
}
*/





.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form {
  display: flex;
  flex-direction: column;
}

.callback-form-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.callback-form-container {
  margin-bottom: 8px;
}

.callback-label {
  display: block;
  margin-bottom: 4px;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.input-icon-container {
  position: relative;
}

.callback-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback-input:focus {
  border-color: #4d5ae5;
}

.callback-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--navyblue);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-input:focus + .callback-icon {
  fill: #4d5ae5;
}

.callback-icon:focus {
  fill: var(--iris);
}
.comment {
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}

.checkbox-item {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox-input:checked + .privacy-label > .checkbox-item {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.send-button {
  min-width: 169px;
  height: 56px;
  display: block;
  border-radius: 4px;
  background-color: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.send-button:hover,
.send-button:focus {
  background-color: var(--ocean);
  border: 1px solid transparent;
}

.privacy-policy-link {
  color: var(--iris);
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 25px;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu {
  margin: auto;
}
.mobile-element {
  margin-bottom: 40px;
}
.mobile-item {
  display: block;
  text-decoration: none;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile-address {
  margin-bottom: 48px;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-address-item-tel {
  color: var(--ocean);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mobile-address-item {
  color: var(--slate);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.social-mobile-list {
  display: flex;
  justify-content: space-between;
  max-width: 328px;
  align-items: center;
}

.social-mobile-item {
  height: 40px;
  width: 40px;
}

.mobile-social-links {
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  
.hero-list-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}*/
/* 
.customers-icon:hover,
.customer-icon:focus,
.customer-list-item:hover,
.customer-list-item:focus {
  border-color: var(--ocean);
  fill: var(--ocean);
} */